pypdf===4.0.1
selenium===4.16.0
cryptography===42.0.4
beautifulsoup4===4.12.2
GitPython===3.1.42
pdf2image===1.17.0
pillow===10.2.0
pytesseract===0.3.10
python-dotenv===1.0.1
webdriver-manager===4.0.1
fastapi===0.109.2
uvicorn===0.27.1
langchain===0.1.11
langchain-elasticsearch==0.1.0
langchain-openai==0.0.8
tiktoken==0.6.0
result==0.16.1