# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
azure-functions
pypdf===4.0.1
selenium===4.16.0
cryptography===42.0.2
beautifulsoup4===4.12.2
pdf2image===1.17.0
pillow===10.2.0
pytesseract===0.3.10
webdriver-manager===4.0.1